*,
::after,
::before{
    box-sizing: inherit;
}
 body{
    margin: 0;
    padding: 0;
 }

.header{
width: auto;
height: 200px;
background-color: rgb(125, 75, 139);
}
.header header {
    font-size: 70px;
    color: aliceblue;
    margin-left: 26%;
    top: 60px;
    position: absolute;
    
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
    margin-top: 60px;
}


.text p{
    text-align: center;
}

.img{
    border: solid rebeccapurple 2px;
    text-align: center;
    width:350px;
    background-color: rgb(102, 99, 99);
}
.img img{
width:350px;
height: 250px;
transition: all .5s;
}
.img img:hover{
    margin-top: 19px;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rebeccapurple;
    border: solid white 1px;
    transition: all .3s;
    width:290px;
    height: 190px;
    border-radius: 5px;
}   
.img p{
color: whitesmoke;
    font-size: larger;
    font-family: sans-serif;
}

@media (max-width:1300px) {
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img{
        margin-top: 20px;
    }
    .img img{
        margin-top: 10px;
        width:250px;
        height: 150px;
        border-radius: 5%;
        }
    
        .header header {
            font-size: 50px;
            color: aliceblue;
            margin-left: 20%;
        }
    }
    
    
    
    @media (max-width:600px) {   
        .img img:hover{
            margin-top: 15px;
                transform: translateY(-10px);
                box-shadow: 0 10px 20px rebeccapurple;
                border: solid white 1px;
                transition: all .3s;
            }   
        
            .header header {
                font-size: 40px;
                color: aliceblue;
                margin-left: 20%;
            }
}

 